server:
  port: 8080

spring:
  application:
    name: gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend
  cloud:
    gateway:
      routes:
        - id: calculos
          # mapped to ms-gestion-calculos service inside docker network
          uri: http://ms-gestion-calculos:8081
          predicates:
            - Path=/api/calculos/**
        - id: rutas-transportistas
          # mapped to ms-rutas-transportistas service inside docker network
          uri: http://ms-rutas-transportistas:8082
          predicates:
            - Path=/api/rutas-transportistas/**
        - id: solicitudes
          uri: http://ms-solicitudes:8083
          predicates:
            - Path=/api/solicitudes/**

management:
  endpoints:
    web:
      exposure:
        include: "health,info,gateway"  # O directamente: "*"
  endpoint:
    gateway:
      access: READ_ONLY

