server:
  port: 8082

spring:
  application:
    name: ms-rutas-transportistas
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend
  datasource:
    url: jdbc:postgresql://postgres:5432/${POSTGRES_DB:tpi_backend_db}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

springdoc:
  api-docs.enabled: true
  swagger-ui.path: /swagger-ui.html
